{% extends 'core.html' %}
{% block content %}
{% endblock %}
{% block h1 %}

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Venta</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in venta %}
                <tr>
                    <td class="bg-light">
                        <strong>Cliente:</strong> {{ pago.cliente }}<br>
                        <strong>Producto(s):</strong><br>
                        {% for item in pago.items.all %}
                            {{ item.producto.nombre }} - ${{ item.producto.precio }} - Cantidad: {{ item.cantidad }}<br>
                        {% empty %}
                            No hay productos en esta venta.
                        {% endfor %}
                        <strong>Fecha:</strong> {{ pago.fecha }}<br>
                        <strong>Método de Pago:</strong> {{ pago.forma_pago }}<br>
                        <strong>Total:</strong> ${{ pago.calcular_total }}<br>
                        <div class="btn-group" role="group">
                            <a href="{% url 'eliminar_pago' pago.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                            <a href="{% url 'consultar_venta_pdf' pago.id %}" class="btn btn-primary">Descargar PDF</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}