{% extends 'core.html' %}
{% load static %}
{% block content %}
{% endblock %}
{% block h1 %}
    <style>
        form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ced4da;
            border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            margin-top: -15px;
        }

        /* Estilo para el título del formulario */
        form h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #007bff;
        }

        /* Estilo para las etiquetas de los campos */
        form label {
            font-weight: bold;
            color: #333;
        }

        /* Estilo para los campos de entrada */
        form input[type="text"],
        form input[type="email"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            margin-bottom: 15px;
        }

        /* Estilo para el botón de guardar cambios */
        form button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            width: 100%;
        }

        /* Estilo para el botón de guardar cambios al pasar el cursor sobre él */
        form button[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
    <div class="container">
        <h1 class="text-center">Modificar producto</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
    </div>

{% endblock %}