{% extends 'core.html' %}
{% block content %}
{% endblock %}
{% block h1 %}
<div class="container">
    <h1 class="mt-4 mb-4">Lista de Clientes</h1>
    <div class="list-group">
        {% for cliente in cliente %}
            <div class="list-group-item">
                <h5 class="mb-1">{{ cliente.nombre }}</h5>
                <p class="mb-1">({{ cliente.edad }} años)</p>
                <p class="text-muted mb-1">Género: {{ cliente.genero }}</p>
                <p class="text-muted mb-1">Correo electrónico: {{ cliente.correo_electronico }}</p>
                <p class="text-muted mb-1">Teléfono: {{ cliente.telefono }}</p>
                <p class="text-muted mb-1">Dirección: {{ cliente.direccion }}</p>
                <div class="mt-2">
                    <a href="{% url 'editar_cliente' pk=cliente.pk %}" class="btn btn-primary btn-sm mr-2">Editar</a>
                    <a href="{% url 'eliminar_usuario' cliente.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </div>
            </div>
        {% empty %}
            <p>No hay clientes disponibles.</p>
        {% endfor %}
    </div>
    <div class="mt-4">
        <a href="{% url 'crear_usuario' %}" class="btn btn-success">Crear nuevo cliente</a>
    </div>
</div>

{% endblock %}